@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 10pt; */
}

/* NAVBAR */

.navbar
{
    /* background-color: #fff !important; */
    font-family: 'Muli', sans-serif;
}

.navbar-brand
{
    padding-top: 1%;
    font-family: 'Overlock', cursive;
    font-size: 3.0em !important;
    color: white !important;  
}

.navbar a 
{
    font-size: 1.5em;
    text-transform: capitalize;
}


.menu_active 
{
    font-weight: bold;
    color: beige;
    justify-content: center;
    justify-items: center;
}


.navbar a:hover 
{
    color:#3498db !important;
}

/* HOME PAGE */

#header
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 70px; 
}


#header h1 
{
    margin: 0 0 10px 0;
    font-size:36px;
    font-weight: 500;
    letter-spacing: -1px;
    color: gray;
}

#header .container
{
    display: flexbox;
}

#header .left
{
    float: left;
    width: 50%;
}

#header .right
{
    float:right;
}


@media (max-width: 991px) 
{
    .navbar-brand {
        font-size: 1.5 rem !important;
    }

    .menu_active{
        font-weight: bold;
        border-bottom: none;
    }

    #header .left
    {
        width:100%;
    }
}

#header .brand-name
{
    color:black;
}

#header h2
{
    color: #484848;
    font-size: 20px;
    
}

#header .btn-get-signup
{
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    transition: 0.5s;
    color: gray;
    border: 2px solid gray;
    text-decoration: none;
}

#header .btn-get-signup:hover{
    background: black;
    color: #fff;
}

.header-img 
{
    text-align: right;
}


#header .animated
{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down 
{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

#login .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
